@import "./colors.scss";

nav {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  background-color: $secondary;

  > h2 {
    color: $primary;
    text-transform: uppercase;
  }

  > div {
    display: flex;
    align-items: center;

    > a {
      color: $primary;
      font-size: 1.2rem;
      margin: 0.1rem 1rem;
      transition: all 0.3s;
      &:hover {
        opacity: 0.5;
      }

      > p {
        position: absolute;
        font: 900 0.7rem "Roboto";
        width: 15px;
        height: 15px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        background-color: $tertiary;
        transform: translate(80%, -80%);
      }
    }
  }
}
